/* Header start */
.header{
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}


.header-container {
  display: flex;
  background-color: #EDF2EC;
  background-repeat: no-repeat;
  background-position: center 0;
  
  justify-content: space-between;
 
  align-items: center;
  margin: 0 auto;
  height: 90px;
  max-width: 1440px;

}

.header_logo-link {
  width: 50px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: 0.3s;
  }

  .header-menu {
    
    margin: 0px 0px 0px 810px;
  }

.menu_list {
  
  flex-wrap: wrap;
  display: flex;
}


.menu_item{
  
  margin-right: 30px;
  
  }
.menu_item a{
  
  text-decoration:none;
  color: 
  #010201;
  transition: 0.5s;
}
.menu_item a:hover,focus,active{
  color: #E06733;
}

.menu-link{
  font-family: Inika;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  text-decoration: none;
  color: #ffffff;
}

/* Header end */
