
html{
	width: 100%;
  font-family: 'Montserrat', sans-serif;
}

* {
  box-sizing: border-box;
 }
 .Myself{
  margin-left: 30px;
 }
 .skills{
  margin-left: 80px;
 }
 .Contacts{
  margin-left: 80px;
 }
 .section{
  margin-left: 50px;
 }
 .Aboutme{
  margin-left: 40px;
 }
 .p{
  text-align: center;
  margin-left: 400px;
 }
 
 .WorkExampls{
  margin-left: 50px;
 }
 .Languages{
  margin-left: 50px;
 }
 .link {
  text-decoration: none;

  transition: color 0.5s;
 }

 .nav-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  font-size: 25px;
 }

  .nav-link {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    text-decoration: none;
    color: #3C1DFF;
    }
 
  .nav-link {
    padding: 0 20px;
    line-height: 50px;
 }
 
 .photo{
  padding-left: 80px;
  
  
 }
 
  .contact__link {
    color: #3C1DFF;
  }
  .section-link {
    color: #3C1DFF;
  }
  
  .nav-item a {
    color: #3C1DFF;
    transition: color 0.5s;
    cursor: pointer;
    font-size: 30px;
    font-weight: bold;
 }
  .nav-item a:hover {
    color: #FFFFFF;
 }

  .container {
  max-width: 1440px;
  margin: 0 auto;
  
 }

 .main-container {
  display: flex;
  flex-wrap: wrap;
  
}

.section {
  width: 60%;
}




body {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.5;
  color: #FFFFFF;
  
}
  .link:hover {
    color: #FFFFFF;
  }

  .footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    color: #3C1DFF;
  
 }
 
  body {background-color: rgb(195, 190, 190);}
  
